@model IEnumerable<TicketAvailabilityViewModel>

<h2>Ticket Availability</h2>

<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Price</th>
            <th>Available</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.Type</td>
                <td>$@ticket.Price</td>
                <td>@ticket.AvailableQuantity</td>
                <td>
                    @if (ticket.IsSoldOut)
                    {
                        <span style="color:red;">Sold Out</span>
                    }
                    else
                    {
                        <span>Available</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
